.personal-info {

    color: white;
    height: 100vh;

    h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    .contact-details {
        font-size: 1.5rem;
    }

    .social-links {

        .social-link {
            cursor: pointer;

            i {
                font-size: 3rem;

                &.linkedin {
                    color: rgb(0, 118, 178);
                }

                &.github {
                    color: white;
                }
            }

            text-decoration: none;
        }
    }
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}