.personal-info {

    color: white;
    height: 100vh;

    .contact-details {
        text-decoration: none;
        white-space: nowrap;

        a {
            color: white;

            &:visited {
                color: white;
            }

            &:hover {
                color: lightgray;
            }
        }
    }

    .social-links {

        .social-link {
            cursor: pointer;

            i {
                font-size: 2rem;

                &.linkedin {
                    color: rgb(0, 118, 178);
                }

                &.github {
                    color: white;
                }

                &.email {
                    color: white
                }
            }

            text-decoration: none;
        }
    }
}