app-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
}

app-education, app-work-experience, app-projects {
    margin: 0.5rem;
}

#certifications {
    min-height: 100vh;
}

.content-container {
    overflow-y: auto;
}