<div fxLayout="column" fxLayoutAlign="start stretch" class="main-container">
  <nav id="nav-bar" fxLayout="column">
    <div fxLayout="row" class="header" fxLayoutAlign="space-between center">
      <div fxHide fxShow.lt-sm (click)="toggleMobileMenu()">
        <button mat-button>
          <mat-icon class="white-icon">menu</mat-icon>
        </button>
      </div>
      <div class="profile-info">
        <div class="initials">JDK</div>
      </div>
      <ul fxLayout="row" fxHide.lt-sm fxLayoutAlign="end center" fxLayoutGap="1rem">
        <li *ngFor="let section of sections" [class.active]="activeSection === section">
          <a (click)="scrollToSection(section)">
            <h3>{{ section }}</h3>
          </a>
        </li>
      </ul>
    </div>
    <ul *ngIf="mobileMenuOpen" fxLayout="column" fxHide.gt-xs fxLayoutAlign="space between center">
      <li *ngFor="let section of sections" [class.active]="activeSection === section">
        <a (click)="scrollToSection(section)">
          <h3>{{ section }}</h3>
        </a>
      </li>
    </ul>
  </nav>
  <div fxLayout="column" fxLayoutAlign="start stretch" class="content-container">
    <app-about-me id="about-me" class="section" [about]="resumeData.about"></app-about-me>
    <app-education *ngFor="let education of resumeData.education" id="education" class="section"
      [education]="education"></app-education>
    <app-work-experience id="work-experience" class="section"
      [workExperience]="resumeData.sections[0]"></app-work-experience>
    <app-projects id="projects" class="section" [projects]="resumeData.sections[1]"></app-projects>
    <section id="certifications">
      <h2>Certifications</h2>
      <ul>
        <li *ngFor="let certification of resumeData.sections[2].data">
          <h3>{{ certification.title }}</h3>
          <p>{{ certification.issuingOrganization }}</p>
          <p>Date: {{ certification.date }}</p>
        </li>
      </ul>
    </section>
  </div>
</div>

<!-- <section id="skills">
<h2>Skills</h2>
<ul>
Loop through the skills array
<li *ngFor="let skill of sections[3].data">
<p>{{ skill.name }} - {{ skill.proficiency }}</p>
</li>
</ul>
</section> -->