<app-card fxFlex="100">
    <h2 headerText>{{project.title}}</h2>
    <ul subHeaderText fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
        <li *ngFor="let tech of project.technologies">{{ tech }}</li>
    </ul>
    <p dates>{{ project.startDate }} - {{ project.endDate }}</p>
    <!-- <ul description fxLayout="column" fxLayoutAlign="center center">
        <li *ngFor="let des of project.description">{{ des }}</li>
    </ul> -->
    <p description style="text-align: justify;"><i>"{{ project.summary }}"</i></p>
</app-card>