<nav class="nav-bar" fxLayout="column">
  <div fxLayout="row" class="header" fxLayoutAlign="space-between center">
    <div fxFlex.lt-md="10" fxHide fxShow.lt-sm (click)="toggleMobileMenu()">
      <button mat-button>
        <mat-icon class="white-icon">menu</mat-icon>
      </button>
    </div>
    <div fxFlex.lt-md="55" class="profile-info" fxLayoutAlign="center">
      <div class="initials">JDK</div>
    </div>
    <ul fxLayout="row" fxHide.lt-sm fxLayoutAlign="end center" fxLayoutGap="1rem">
      <li *ngFor="let section of sectionOrder" [class.active]="currentSection === section">
        <a (click)="sectionClicked(section)">
          <h3>{{ sections.get(section) }}</h3>
        </a>
      </li>
    </ul>
    <ul fxFlex="35" fxLayout="row" fxHide.gt-xs fxLayoutAlign="end">
      <li style="width: fit-content;" class="active">
        <a>
          <h3>{{ sections.get(currentSection) }}</h3>
        </a>
      </li>
    </ul>
  </div>
  <ul class="mobile-menu" *ngIf="mobileMenuOpen" fxLayout="column" fxHide.gt-xs fxLayoutAlign="space between center">
    <li *ngFor="let section of sections | keyvalue">
      <a (click)="sectionClicked(section.key); toggleMobileMenu()">
        <h3>{{ section.value }}</h3>
      </a>
    </li>
  </ul>
</nav>